# Environments
.config.json


# Build
dist


# Package Managers
node_modules
npm-debug.log*
package-lock.json


# Editor directories and files
.idea
.vscode


# Byte-compiled / optimized / DLL files
__pycache__/